### Q1
List the basic data types in python and give one example each.

1. String
2. Integer
3. Float
4. Boolean

In [3]:
String = "Hello World!"
Integer = 77
Float = 8.9
Boolean1 = Integer != Float
Boolean2 = Integer == Float

In [4]:
String

'Hello World!'

In [5]:
Integer

77

In [6]:
Float

8.9

In [7]:
Boolean1

True

In [8]:
Boolean2

False

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [10]:
x = 4539.85

In [11]:
x

4539.85

In [62]:
y = str(x)
type(y)

str

In [13]:
z = int(x)

In [63]:
type(z)

int

### Q3

What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a  school

j. The average result of the overall score of a student

k. The total number of vote cast

Q3 - ANSWERS

a. integer
b. integer
c. string
d. float
e. integer
f. float
g. boolean
i. string
j. float
k. integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [16]:
statement_1 = "Thomas Partey is arguably the best player in the Black Stars."
statement_2 = "He is a great addition to the team"

In [17]:
len(statement_1)

61

In [18]:
len(statement_2)

34

In [19]:
statement_1 > statement_2

True

### Q5
What values does python use to represent **True** and **False** respectively?

True = 1
False = 0

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [22]:
46 < 78 < 30 and 78%2 != 0

False

In [27]:
(8-2)%2 == 0 or 8%2 != 0

True

In [70]:
len("boostrap") == 7 and len("sample") == 6

False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [64]:
word = "Hello, How are you?"
print(word[7:10])

How

In [41]:
word[7:-1]

'How are you'

In [42]:
word[11:14]

'are'

In [43]:
word[-1]

'?'

In [44]:
word[ : -1]

'Hello, How are you'

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [65]:
sentence = "I am very excited"
print(sentence.upper())

I AM VERY EXCITED

In [46]:
sentence.lower()

'i am very excited'

In [47]:
sentence.title()

'I Am Very Excited'

In [51]:
sentence.split()

['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [56]:
word = 'OneThirtyEight'
word[0:3]

'One'

In [58]:
word[3:9]

'Thirty'

In [59]:
word[:9]

'OneThirty'

In [60]:
word[3:]

'ThirtyEight'

In [61]:
word.upper()

'ONETHIRTYEIGHT'

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [53]:
name = "Ault'Kelly"

In [54]:
name

"Ault'Kelly"

In [55]:
print(name)

Ault'Kelly