### Q1

Name the four built-in data structures in python. Give one examples for each

In [1]:
List = [1,2,3]
print(List)

[1, 2, 3]

In [3]:
Tuples = ((1,2,3))
print(Tuples)

(1, 2, 3)

In [4]:
Sets = {1,2,3}
print(Sets)

{1, 2, 3}

In [5]:
Dictionary = {"me": 1,
               "him": 2}
print(Dictionary)

{'me': 1, 'him': 2}

### Q2

State two differences between a list and a tuple in Python.

## LIST
### 1. They are mutable
### 2. Consumes more memory

## TUPLE
### 1. They are immutable
### 2. Consumes less memory

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [6]:
animal_list = ["cat","rat","dog","cow","bird"]
print(animal_list)

['cat', 'rat', 'dog', 'cow', 'bird']

In [7]:
print(animal_list[0:2])

['cat', 'rat']

In [10]:
print(animal_list[-2:])

['cow', 'bird']

In [11]:
animal_list.append("sheep")

In [12]:
animal_list.append("goat")

In [16]:
animal_list.append("horse")

In [17]:
animal_list

['cat', 'rat', 'dog', 'cow', 'bird', 'sheep', 'goat', 'horse']

In [19]:
animal_list.pop(0)

'cat'

In [20]:
animal_list.pop(0)

'rat'

In [21]:
animal_list

['dog', 'cow', 'bird', 'sheep', 'goat', 'horse']

In [22]:
len(animal_list)

6

In [23]:
animal_set = set(animal_list)

In [24]:
animal_set

{'bird', 'cow', 'dog', 'goat', 'horse', 'sheep'}

In [25]:
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [29]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
suitcase

['sunglasses', 'hat', 'passport', 'laptop', 'suit', 'shoes']

In [28]:
first = ["sunglasses", "hat"]
first

['sunglasses', 'hat']

In [31]:
middle = ["passport", "laptop"]
middle

['passport', 'laptop']

In [33]:
last = ["suit", "shoes"]
last

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [34]:
values = [20,25,30,40,45,50,55,60,65,70]

In [39]:
values.insert(3,35)
values

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

### Lists are used when we will make changes to items in the list, and tuples are used when we will not make changes to the items.

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [41]:
region_capital = {"GREATER ACCRA":"Accra",
                  "CENTRAL": "Cape Coast",
                  "ASHANTI": "Kumasi",
                  "EASTERN": "Koforidua",
                  "BONO": "Sunyani"}
region_capital

{'GREATER ACCRA': 'Accra',
 'CENTRAL': 'Cape Coast',
 'ASHANTI': 'Kumasi',
 'EASTERN': 'Koforidua',
 'BONO': 'Sunyani'}

In [42]:
region_capital.keys()

dict_keys(['GREATER ACCRA', 'CENTRAL', 'ASHANTI', 'EASTERN', 'BONO'])

In [43]:
region_capital.values()

dict_values(['Accra', 'Cape Coast', 'Kumasi', 'Koforidua', 'Sunyani'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [3]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6,3]

In [4]:
sum(values)

62

In [5]:
highest_occuring_number = {}
for value in values:
    highest_occuring_number[value] = values.count(value)
    
max_value = max(highest_occuring_number.values())
print(highest_occuring_number.get(max_value))

3

In [59]:
values_set = set(values)
values_set

{1, 2, 3, 4, 5, 6}

In [48]:
len(values_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [56]:
dictionary = {}

for i in range(1,16):
    dictionary[i] = i**2
    
dictionary

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [8]:
keys = ["x","y","z"]

d = {}
for key in keys:
    if key == "x":
        d[key] = list(range(11,21))
    elif key == "y":
        d[key] = list(range(21,31))
    else:
        d[key] = list(range(31,40))
        
for key in keys:
    print(f"{key}: {d[key][4]}")

x: 15
y: 25
z: 35